<%- include('../partials/html-head')  %> 
<%- include('../partials/nav')  %> 

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/movies" method="POST">
    <label for="airline-select">airline:</label>
    <select name="airline" id="airline-select">
      <option value="Southwest">Southwest</option>
      <option value="Delta">Delta</option>
      <option value="United">United</option>
    </select>
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select"> 
      <option value="DEN">DEN</option>
      <option value="DFW">DFW</option>
      <option value="AUS">AUS</option>
      <option value="LEX">LEX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flight-no-input">Flight Number:</label>
    <input type="number" name="flight-no" min="10" max="9999" id="flight-no-input">
    <label for="date">Date:</label>
    <input type="date" name="trip-start" value="2022-9-23" min="2022-09-01" max="2023-09-01" id="date-select">
    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer')  %> 